@model Riode.WebUI.Model.Entity.Product

@{
    ViewData["Title"] = "Delete";
}

<h1>Product Delete</h1>

<div>
    <hr />

    <div class="white_card_body">
        <div class="card-body">
            <div class="form-row">
                <div class="col-4">
                    <div class="input-group mb-3">

                        <img width="200" height="200" src="~/uploads/images/@Model.Images.FirstOrDefault(i=>i.IsMain==true)?.FileName" />


                    </div>
                </div>


                <div class="col-8">
                    <div class="form-group col-12">
                        <label asp-for="Name" class="control-label"></label>
                        <p class="form-control">@Model.Name</p>
                    </div>

                    <div class="form-group col-12">
                        <label asp-for="Sku" class="control-label"></label>
                        <p class="form-control textarea">

                            @Model.Sku

                        </p>
                    </div>

                    <div class="form-group col-12">
                        <label asp-for="Brands" class="control-label"></label>
                        <p class="form-control textarea">

                            @Model.Brands.Name

                        </p>
                    </div>
                    <div class="form-group col-12">
                        <label asp-for="CreateData" class="control-label"></label>
                        <p class="form-control textarea">

                            @Model.CreateData

                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
    </form>
</div>

@section addcss{

    <link href="~/libs/multiple-imager-js/css/imager.css" rel="stylesheet" />

}